<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{{ url_for ('static', filename = 'css/style.css')}}" rel="stylesheet">
    <title>Personal Page</title>
</head>
<body>
    <nav class="crumbs">
        <ol>
          <li class="crumb"><a href="http://127.0.0.1:5001/welcome" > Home Page</a></h2></li>
          <li class="crumb"><a href="http://127.0.0.1:5001/users" > Users List & Form to subscribe</a></h2></li>
          <li class="crumb"><a href="http://127.0.0.1:5001/login">Login Page</a></li>
        </ol>
      </nav>
    <h2>WELCOME ON YOUR PERSONNAL PAGE {{name}}!</h2>
</body>
</html>