<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{{ url_for ('static', filename = 'css/style.css')}}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  <nav class="crumbs">
    <ol>
      <li class="crumb"><a href="http://127.0.0.1:5001/welcome" > Home Page</a></h2></li>
      <li class="crumb"><a href="http://127.0.0.1:5001/users" > Users List & Form to subscribe</a></h2></li>
      <li class="crumb"><a href="http://127.0.0.1:5001/login">Login Page</a></li>
    </ol>
  </nav>

  <div>
    <p>Please, fill in the token received by mail: </p>
    <form action='' method='POST'>
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" autocomplete="off">
      <input type="text" id="token" class="fadeIn second" name="token" placeholder="token" autocomplete="off">
      <input type="submit" class="fadeIn fourth" value="Confirm">
    </form>
    {% if _get %}
    {% else %}
      {% if alert_username %}
        <p>wrong username!</p>
      {% else %}
        {% if alert_connexion_latency%}
          <p>time out, fill in new token</p>
        {% else %}
          {% if token_success %}
          <p>You are Log in!</p>
          {% else %}
          <p>Wrong token!</p>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
    
    
</body>
</html>

