<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{{ url_for ('static', filename = 'css/style.css')}}" rel="stylesheet">
    <title>User info</title>
</head>

<body>
    {% include 'nav_bar.html' %}

    {% if username_missing %}
        <h2>Please submit your username</h2>
    {% else %}
        {% if alert_rights%}
        <div class = "alert_user"><p>NO ACCESS TO THESE INFORMATIONS, ONLY PUT YOUR USERNAME</p></div>
        {% else %}
            <h1> User informations:</h1>
            <table>
            <tr>
                <td>Id</td>
                <td>Username</td>
                <td>Password</td>
                <td>Name</td>
                <td>FirstName</td>
                <td>Token</td>
            </tr>
            <tr>
            <td>{{ found_username.id }}</td>
            <td>{{ found_username.username }}</td>
            <td>{{ found_username.password }}</td>
            <td>{{ found_username.name }}</td>
            <td>{{ found_username.firstname }}</td>
            <td>{{ found_username.token }}</td>
            </tr>
            </table>
        {% endif %}
    {% endif %}

</body>
</html>